@import url('https://fonts.googleapis.com/css?family=Quicksand');

html, body {
	margin:0;
	height:100%;
	font-family:"Quicksand";
}

.hitter {
	--size:150px;

	height:var(--size);
	width:var(--size);
	border-radius:50%;
	background:red;
	font-size:2em;
	position:absolute;
	top:50%;
	left:50%;
	margin-right:50%;
	transform:translate(-50%, -50%);
	cursor:pointer;
}